.s-hero{
    padding-bottom: 18rem;
    background-color: var(--white2);
    .container{
    padding-top: 12.8rem;;
    display: flex;
    justify-content: space-between;
    align-items: center;
        .left{
            margin-top: 6.4rem;
            .text{
                position: relative;
                margin-bottom: 4rem;
                h1{
                    position: relative;
                    z-index: 1;
                    font-size: 6.4rem;
                    max-width: 55.5rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -0.064rem;
                    margin-bottom: 2.6rem;
                    &::after{
                        content: "";
                        height: .8rem;
                        width: 0rem;
                        background-color: var(--yellow);
                        position: absolute;
                        bottom: 1.6rem;
                        left: 0;
                        z-index: -1;
                        animation: changeWidth 1s ease-in-out .6s 1 forwards;
                    }
                }
                p{
                    color: var(--gray);
                    font-family: Inter;
                    font-size: 1.8rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    max-width: 53.2rem;
                }
                strong{
                    font-weight: 600;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 100%;
                    width: 3.4rem;
                    animation: star 2s ease-in-out;
                }
            }
            form{
                    border-radius: 12.2rem;
                    background-color: var(--white);
                    max-width: 52rem;
                    height: 6.8rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 5.6rem;
                                     
                    input{
                        padding: 1.6rem 2.8rem;
                        flex: 1;
                        border: none;
                        font-size: 1.6rem;
                        border-radius: 12.2rem;
                        color: var(--gray2);
                        line-height: 150%; /* 2.4rem */
                        letter-spacing: -0.008rem;
                        font-family: Inter;
                        padding-left: 3.4rem;
                        background-color: var(--white);
                    }
                    button{
                        margin-right: 1.5rem;
                        cursor: pointer;
                        border-radius: 12.2rem;
                        padding: 1.6rem 2.8rem;
                        border: none;
                        background-color: var(--black);
                        color: var(--white);
                        font-size: 1.4rem;
                        font-weight: 500;
                        text-align: center;
                    }
            }
            .logos{
                display: flex;
                max-width: 40rem;
                gap: 3rem;
                margin-bottom: 6.3rem;
                img{
                max-width: 10rem;
                 width: 100%;   
                }
            }
            .reviews{
                max-width: 22.8rem;
                display: flex;
                align-items: center;
                gap: 1.6rem;
                .stars{
                    display: flex;
                    gap: .6rem;
                    img{
                        max-width: 1.4rem;
                    }
                    span{
                        gap: .4rem;
                        display: flex;
                        font-size: 1.2rem;
                    }
                }
                .people{
                    max-width: 12.4rem;
                    display: flex;
                    img{
                        margin-right: -1rem;
                    }
                }
            }
        }
        .right{
            margin-top: 6.4rem;
            

        }
    }
}

.s-cards{
    margin-top: -11.4rem;
    margin-bottom: 11.4rem;
    .container{
        .cards{
            display: flex;
            justify-content: space-between;
            gap: 3.2rem;
            .card{
                width: 38.4rem;
                padding: 4.8rem 4rem;
                background-color: var(--white);
                border-radius: 1.2rem;
                box-shadow: 0rem 2.4rem 4.4rem -1.1rem rgba(181, 183, 192, 0.30);
                .icon{
                    max-width: 3.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        margin-bottom: 2.8rem;
                    }
                }
                .text{
                    h2{
                        margin-bottom: .3rem;
                        color: #1C1C1F;
                        font-size: 2.2rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 150%; /* 3.3rem */
                    }
                    p{
                        color: #606272;
                        font-family: Inter;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%; /* 2.56rem */
                    }
                }
        }
    }
    }
}